@font-face
  font-family: 'straightlineregular'
  //src: url('Straightline_full.woff') format('woff')
  src: url('Straightline_full.woff') format('woff')
  font-weight: normal
  font-style: normal

*
  box-sizing: border-box
  font-family: straightlineregular
  //min-font-size: 15px!important

html, body
  width : 100%
  height: 100%
  margin: 0
  padding: 0
  //height: auto


//color
$primary-color:#01090e
$secondary-color: #eeeeee
$background-color:white

//font
$base-font-size:1.7vw
$tablet-font-size:3vw
$line-height-factor:1.05
$mobile_font_size:5.5vw



//  space
$standard-padding:10px
$margin: 20%

$breakpoint-tablet: 1000px
$breakpoint-phone: 500px

//todo
$mlr_margin: 100-2*$margin

a
  target: "_blank"
  color: $primary-color
  font-size: inherit

a:hover
  background: $primary-color
  color: white

.margin_lr
  margin-left: $margin
  margin-right: $margin



///font



p
  text-align: left
  font-size: 1*$base-font-size
  line-height: $line-height-factor*$base-font-size

p,ol,ul
    @media (max-width: $breakpoint-phone)
      font-size: $mobile_font_size
      line-height: $line-height-factor*$mobile_font_size
      *
        font-size: $mobile_font_size
        line-height: $line-height-factor*$mobile_font_size


    @media (max-width: $breakpoint-tablet)
      font-size: $tablet-font-size
      line-height: $line-height-factor*$tablet-font-size
      *
        font-size: $tablet-font-size
        line-height: $line-height-factor*$tablet-font-size
ol
  line-height: $line-height-factor*$base-font-size
  list-style-position: inside
  margin-bottom: 0.1*$base-font-size
  padding: 0
  text-align: left
  font-size: 0.95*$base-font-size



ul
  line-height: $line-height-factor*$base-font-size
  list-style-position: inside
  padding: 0
  text-align: left
  font-size: 1*$base-font-size

h1
  text-align: center
  font-size: 2.5*$base-font-size

h2
  text-align: left
  font-size: 1.5*$base-font-size

h3
  text-align: left
  font-size: 1.25*$base-font-size

h4
  text-align: left
  font-size: 1.15*$base-font-size

h5
  text-align: left
  font-size: 1.075*$base-font-size


h1,h2
    @media (max-width: $breakpoint-phone)
      font-size: $mobile_font_size*1.35
    @media (max-width: $breakpoint-tablet)
      font-size: $tablet-font-size*1.35
h3,h4,h5
    @media (max-width: $breakpoint-phone)
      font-size: $mobile_font_size*1.15
    @media (max-width: $breakpoint-tablet)
      font-size: $tablet-font-size*1.15






//hr
//  border: none
//  height: 2px
//
