.obsidian/
.idea/
assets/local/
*.pyc
Projects/3_python_environment/projects/output/
Projects/4_authoring_plotter_instruction/projects/output/
Projects/5_advanced_path_manipulation/projects/output/4_path_manipulation/2024-06-10/223637/main_223637_172.py
Projects/5_advanced_path_manipulation/projects/output/
Projects/6_pen_plotting_with_multiple_colors/projects/output/
Projects/9_paint_refill/projects/output/
Projects/11_project_demo/projects/output/
